body{
    background-color: rgb(131, 26, 26);
}
#cabecalho{
    background-color: rgb(59, 52, 44);
    margin-top: 0px;
    width: 1920px;
    position: relative;
    bottom: 10px;
    right: 10px;
    padding-left: 10px;

}
.logo{
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 2px;
}
.agendar{
    background-color: rgb(180, 26, 26);
    padding: 20px;
    color: white;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    padding: 20px;
    color: white;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
a:active{
    background-color: rgb(20, 20, 20);
}
#titulo{
    background-color: rgb(167, 165, 165);
    margin-top: 100px;
    width: 700px;
    margin: auto;
}
.textotitulo{
    font-size: xx-large;
    color: white;
    margin-top: 100px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.texto{
    color: white;
    margin-top: 20px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.botaoagendamento{
    background-color: rgb(131, 26, 26);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 40px;
    color: white;
    font-size: large;
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 50px;
}
.botaoagendamento:active{
    background-color: rgb(32, 31, 31);
}
